

**Problem Statement:**

Goal: Create a unified hybrid framework that adapts to the commodity type and automatically selects or combines the best models accordingly.

We loaded historical data from 2003-April 2025 alonmg with new realtime data to predict price with pre trained model.

## Step 8 Processing Real Time Data with Pre Trained Models

##### Sourcing Key Libraries

In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np 
import os 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import statsmodels.formula.api as smf
# from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.arima.model import ARIMA
#from pmdarima.arima import auto_arima
import pmdarima as pm
from sklearn.metrics import mean_squared_error, mean_absolute_error
import math
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.ensemble import RandomForestRegressor
import os
import itertools
import requests
import yfinance as yf
from scipy.stats import randint
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.models import Sequential
#from arch import arch_model
from transformers import pipeline
#from xgboost import XGBRegressor
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

##### Define constant Variables

In [2]:
# constant values
# Your API Key from FRED
api_key = 'a27b910873da479a5561ea08035a6c79'
# API Key for Alpha Vantage (Replace with your actual key)
API_KEY_alpha = "3J4EGZCB0D7UT9WG"
# genertae your APi key from here: https://www.alphavantage.co/

#update the below code for any new precious Metal

data_ticker_map = {
            'GOLD' : 'GC=F',
            'SILVER': 'SI=F',
            'CRUDE_OIL': 'CL=F'}

data_file_mapping = {
            'GOLD' : '../../Data/Historical_Gold_data_April_2015.csv',
           'SILVER': '../../Data/Historical_Silver_data_April_2015.csv',
           'CRUDE_OIL': '../../Data/Historical_Crude_oil_data_April_2015.csv',}

Live_Sentiments_file_name = 'Live_Sentiments.csv'
Live_Sentiments_file_dir = '../../Sentiments'
Historical_Sentiments_file_name = 'Historical_Sentiments.csv'
Historical_Sentiments_file_dir = '../../Sentiments'

best_models_dir = {'GOLD': '../../Models/GOLD_MODELS', 'SILVER' : '../../Models/SILVER_MODELS', 'CRUDE_OIL': '../../Models/CRUDE_OIL_MODELS'}
hybrid_models_dir = {'GOLD': '../../Models/GOLD_HYBRID_MODELS', 'SILVER' : '../../Models/SILVER_HYBRID_MODELS', 'CRUDE_OIL': '../../Models/CRUDE_OIL_HYBRID_MODELS'}
hybrid_meta_models_dir = {'GOLD': '../../Models/GOLD_HYBRID_MODELS/Meta', 'SILVER' : '../../Models/SILVER_HYBRID_MODELS/Meta', 'CRUDE_OIL': '../../Models/CRUDE_OIL_HYBRID_MODELS/Meta'}

### Enter Commodity Name for which you want to predict Price EX: GOLD, SILVER, CRUDE OIL etc

In [3]:
commodity = 'CRUDE_OIL' #input('Enter the Commodity Name')
filename =  data_file_mapping.get(commodity)

## Data Sourcing

### Historical Data Sourcing

##### Yahoo finance is not reliable and having issues, download data from 2003-01-01 - 2025-03-15 via yf api.

##### Define function to download Historical data

In [4]:
# Function to download historical price data
def download_price_data(ticker, start='2015-01-01', end='2025-04-28'):
    # Download the data
    data = yf.download(ticker, start=start, end=end)
    
    # Reset index to turn 'Date' into a regular column
    data.reset_index(inplace=True)
    
    # Flatten the columns if there are multiple levels
    data.columns = data.columns.get_level_values(0) if isinstance(data.columns, pd.MultiIndex) else data.columns
    
    # Select necessary columns only
    data = data[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]
    return data

# Load or download data for each commodity
def load_or_download_data(ticker, filename):
    if os.path.exists(filename):
        # Read the CSV, treating the first row as the header
        data = pd.read_csv(filename, header=0)
        
        # Convert 'Date' column to datetime format, and handle parsing errors
        data['Date'] = pd.to_datetime(data['Date'], errors='coerce')
        
        # Remove any rows where 'Date' could not be parsed and resulted in NaT
        data = data.dropna(subset=['Date'])
    else:
        # Download the data
        data = download_price_data(ticker)
        
        # Save to CSV with a single header row
        data.to_csv(filename, index=False)
    
    # Ensure the 'Close' column is numeric
    data['Close'] = pd.to_numeric(data['Close'], errors='coerce')
    
    return data

In [5]:
############# Reading Data Sources #################
print(f'Loading from Historical file id Data available in file : {filename}')
ticker = data_ticker_map.get(commodity)
print(f'Ticker code for {commodity} : {ticker}')
commodity_data = load_or_download_data(ticker, filename)

Loading from Historical file id Data available in file : ../../Data/Historical_Crude_oil_data_April_2015.csv
Ticker code for CRUDE_OIL : CL=F
YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [6]:
commodity_data

Price       Date       Open       High        Low      Close  Volume
0     2015-01-02  53.759998  55.110001  52.029999  52.689999  268708
1     2015-01-05  52.610001  52.730000  49.680000  50.040001  375782
2     2015-01-06  50.000000  50.369999  47.549999  47.930000  451642
3     2015-01-07  48.000000  49.310001  46.830002  48.650002  460083
4     2015-01-08  48.779999  49.650002  47.730000  48.790001  362081
...          ...        ...        ...        ...        ...     ...
2588  2025-04-21  64.300003  64.419998  62.450001  63.080002   82671
2589  2025-04-22  63.430000  65.089996  63.430000  64.309998  297928
2590  2025-04-23  64.000000  64.870003  61.529999  62.270000  397841
2591  2025-04-24  62.340000  63.310001  61.990002  62.790001  264908
2592  2025-04-25  62.860001  63.410000  61.799999  63.020000  283758

[2593 rows x 6 columns]

### Sourcing Market data

####  GDP data

##### Define function which will convert Yearly GDP data to daily GDP data

In [7]:
def expand_gdp_to_daily(gdp_df):
    daily_gdp = []
    for index, row in gdp_df.iterrows():
        month_start = row['Date']
        value = row['Value']
        month_days = pd.date_range(start=month_start, end=month_start + pd.offsets.MonthEnd(0), freq='D')
        for day in month_days:
            daily_gdp.append({'Date': day, 'Value': value})
    return pd.DataFrame(daily_gdp)


def preprocess_gdp_data(gdp_data):
    gdp_data['Date'] = pd.to_datetime(gdp_data['Date'])
    return expand_gdp_to_daily(gdp_data)


def fetch_world_bank_data(indicator, country='USA', start_year='2003', end_year='2025'):
    url = f'http://api.worldbank.org/v2/country/{country}/indicator/{indicator}?date={start_year}:{end_year}&format=json'
    try:
        response = requests.get(url)
        data = response.json()
        if len(data) < 2 or 'message' in data[1]:
            print("No data found for the specified parameters.")
            return None
        df = pd.json_normalize(data[1])
        df['date'] = pd.to_datetime(df['date'])
        df = df[(df['date'] >= f'{start_year}-01-01') & (df['date'] <= f'{end_year}-12-31')]
        df = df[['date', 'value']]
        df.columns = ['Date', 'Value']
        return df
    except Exception as e:
        print(f"Error fetching data: {e}")
        return None

In [8]:
############### sourcing world GDP data #################################################
gdp_data = fetch_world_bank_data('NY.GDP.MKTP.CD', country='USA', start_year='2003', end_year='2025')
daily_gdp_data = preprocess_gdp_data(gdp_data)
daily_gdp_data.rename(columns={'Value':'GDP'},inplace=True)
daily_gdp_data

          Date               GDP
0   2024-01-01               NaT
1   2024-01-02               NaT
2   2024-01-03               NaT
3   2024-01-04               NaT
4   2024-01-05               NaT
..         ...               ...
677 2003-01-27  11456450000000.0
678 2003-01-28  11456450000000.0
679 2003-01-29  11456450000000.0
680 2003-01-30  11456450000000.0
681 2003-01-31  11456450000000.0

[682 rows x 2 columns]

####  Interest rate data

In [9]:

############## Sourcing Interest rate data ################################
from fredapi import Fred

# Your API Key from FRED
api_key = 'a27b910873da479a5561ea08035a6c79'

# Initialize the FRED API
fred = Fred(api_key=api_key)

# Fetch the Federal Funds Rate data (you can change this to any other indicator)
# Federal Funds Rate is often identified by the FRED ID 'FEDFUNDS'
interest_rate_data = fred.get_series('FEDFUNDS' ,start_date='2003-01-01')

# Convert the data into a DataFrame for better handling
interest_rate_df = pd.DataFrame(interest_rate_data)
interest_rate_df.columns = ['Interest_rates']

# Reset the index to have 'Date' as a column
interest_rate_df.reset_index(inplace=True)

import pandas as pd

# Assuming `interest_rate_df` already exists with 'Date' and 'Interest_rates' columns

# Convert 'Date' column to datetime format if it’s not already
interest_rate_df['Date'] = pd.to_datetime(interest_rate_df['index'])
interest_rate_df.drop(columns=['index'], inplace=True)  # Drop the old index column if needed

# Create a date range for every day from the start to the end of the interest rate data
start_date = interest_rate_df['Date'].min()
end_date = interest_rate_df['Date'].max()
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a new DataFrame with daily dates as a column
daily_interest_rate_df = pd.DataFrame({'date': date_range})

# Add a 'month' and 'year' column to `interest_rate_df` for easy merging
interest_rate_df['year'] = interest_rate_df['Date'].dt.year
interest_rate_df['month'] = interest_rate_df['Date'].dt.month

# Merge monthly data with daily data on matching 'year' and 'month'
daily_interest_rate_df['year'] = daily_interest_rate_df['date'].dt.year
daily_interest_rate_df['month'] = daily_interest_rate_df['date'].dt.month

# Perform a left join on 'year' and 'month' columns
daily_interest_rate_df = daily_interest_rate_df.merge(
    interest_rate_df[['year', 'month', 'Interest_rates']],
    on=['year', 'month'],
    how='left'
)

# Drop the extra columns, keep only 'date' and 'Interest_rates'
daily_interest_rate_data = daily_interest_rate_df[['date', 'Interest_rates']]
daily_interest_rate_data.rename(columns={'date':'Date'},inplace=True)
daily_interest_rate_data

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\1493415932.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_interest_rate_data.rename(columns={'date':'Date'},inplace=True)

            Date  Interest_rates
0     1954-07-01            0.80
1     1954-07-02            0.80
2     1954-07-03            0.80
3     1954-07-04            0.80
4     1954-07-05            0.80
...          ...             ...
25838 2025-03-28            4.33
25839 2025-03-29            4.33
25840 2025-03-30            4.33
25841 2025-03-31            4.33
25842 2025-04-01            4.33

[25843 rows x 2 columns]

####  GDP to Debt data

In [10]:
################## GDP to Debt DATA ###############################
import wbdata
import pandas as pd
import datetime

# Set the start and end dates for the data
start_date = datetime.datetime(2000, 1, 1)
end_date = datetime.datetime(2023, 1, 1)

# List of indicators to retrieve (Government Debt to GDP ratio)
indicators = {'GC.DOD.TOTL.GD.ZS': 'Government Debt to GDP'}

# Fetch data from the World Bank API for the USA
government_debt_data = wbdata.get_dataframe(indicators, country='USA')

# Fill missing values in `Government Debt to GDP` with 0
government_debt_data['Government Debt to GDP'] = government_debt_data['Government Debt to GDP'].fillna(0)

# Reset index to make `date` a regular column and convert it to datetime
government_debt_data.reset_index(inplace=True)
government_debt_data['date'] = pd.to_datetime(government_debt_data['date'])

# Add a 'year' column to `government_debt_data` to help with mapping
government_debt_data['year'] = government_debt_data['date'].dt.year

# Create a dictionary for quick lookup of Debt to GDP per year
debt_to_gdp_dict = government_debt_data.set_index('year')['Government Debt to GDP'].to_dict()

# Create a date range for every day from the start to the end date
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# Create a new DataFrame with daily dates as a column
daily_debt_data = pd.DataFrame({'date': date_range})

# Map each date in `daily_debt_data` to the corresponding Debt to GDP value for that year
daily_debt_data['DebtToGDP'] = daily_debt_data['date'].dt.year.map(debt_to_gdp_dict)
daily_debt_data.rename(columns={'date':'Date'},inplace=True)

daily_debt_data

           Date   DebtToGDP
0    2000-01-01   33.267642
1    2000-01-02   33.267642
2    2000-01-03   33.267642
3    2000-01-04   33.267642
4    2000-01-05   33.267642
...         ...         ...
8397 2022-12-28  110.385332
8398 2022-12-29  110.385332
8399 2022-12-30  110.385332
8400 2022-12-31  110.385332
8401 2023-01-01    0.000000

[8402 rows x 2 columns]

####  Inflation data

In [11]:
############## inflation data #################
# Get historical CPI data (Consumer Price Index) to calculate inflation
cpi_data = fred.get_series('CPIAUCSL', start_date='2003-01-01')



# Convert the data into a DataFrame for better handling
Inflation_data = pd.DataFrame(interest_rate_data)
Inflation_data.columns = ['Inflation_rate']

# Reset the index to have 'Date' as a column
Inflation_data.reset_index(inplace=True)
Inflation_data.rename(columns={'index':'Date'},inplace=True)
# Print the first few rows
Inflation_data

          Date  Inflation_rate
0   1954-07-01            0.80
1   1954-08-01            1.22
2   1954-09-01            1.07
3   1954-10-01            0.85
4   1954-11-01            0.83
..         ...             ...
845 2024-12-01            4.48
846 2025-01-01            4.33
847 2025-02-01            4.33
848 2025-03-01            4.33
849 2025-04-01            4.33

[850 rows x 2 columns]

####  ETF data

In [12]:
################ Gold ETF data ###########################################
import requests
import pandas as pd

# Fetch ETF data from FRED API
def fetch_fred_etf_data(series_id, api_key, start_date='2003-01-01', end_date='2024-11-01'):
    url = f'https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&api_key={api_key}&file_type=json&observation_start={start_date}&observation_end={end_date}'
    response = requests.get(url)
    data = response.json()
    
    # Print the entire JSON response for inspection
    print("Full JSON response:", data)
    
    # Check for errors in the JSON response
    if "observations" not in data:
        print("Error: 'observations' key not found in the response. Check the series ID or API request.")
        return None
    
    # Parse JSON data into a DataFrame
    etf_df = pd.DataFrame(data['observations'])
    etf_df['Date'] = pd.to_datetime(etf_df['date'])
    etf_df['Date'] = etf_df['Date'].dt.tz_localize(None).dt.date 
    etf_df['value'] = pd.to_numeric(etf_df['value'], errors='coerce')
    etf_df.set_index('Date', inplace=True)
    
    return etf_df

# Example usage
api_key = 'a27b910873da479a5561ea08035a6c79'
series_id = 'INTDSRUSM193N'  # Replace with a valid series ID from FRED
etf_data = fetch_fred_etf_data(series_id, api_key)


etf_data.rename(columns={'value':'ETF_Value'},inplace=True)
# Only print if data retrieval was successful
if etf_data is not None:
    print(etf_data.head())

Full JSON response: {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'observation_start': '2003-01-01', 'observation_end': '2024-11-01', 'units': 'lin', 'output_type': 1, 'file_type': 'json', 'order_by': 'observation_date', 'sort_order': 'asc', 'count': 224, 'offset': 0, 'limit': 100000, 'observations': [{'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-01-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-02-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-03-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-04-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-05-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-06-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-07-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-08-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-09-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-10-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-11-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2003-12-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-01-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-02-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-03-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-04-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-05-01', 'value': '2'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-06-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-07-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-08-01', 'value': '2.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-09-01', 'value': '2.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-10-01', 'value': '2.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-11-01', 'value': '3'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2004-12-01', 'value': '3.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-01-01', 'value': '3.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-02-01', 'value': '3.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-03-01', 'value': '3.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-04-01', 'value': '3.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-05-01', 'value': '4'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-06-01', 'value': '4.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-07-01', 'value': '4.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-08-01', 'value': '4.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-09-01', 'value': '4.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-10-01', 'value': '4.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-11-01', 'value': '5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2005-12-01', 'value': '5.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-01-01', 'value': '5.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-02-01', 'value': '5.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-03-01', 'value': '5.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-04-01', 'value': '5.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-05-01', 'value': '6'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-06-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-07-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-08-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-09-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-10-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-11-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2006-12-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-01-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-02-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-03-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-04-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-05-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-06-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-07-01', 'value': '6.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-08-01', 'value': '5.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-09-01', 'value': '5.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-10-01', 'value': '5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-11-01', 'value': '5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2007-12-01', 'value': '4.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-01-01', 'value': '3.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-02-01', 'value': '3.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-03-01', 'value': '2.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-04-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-05-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-06-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-07-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-08-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-09-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-10-01', 'value': '1.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-11-01', 'value': '1.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2008-12-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-01-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-02-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-03-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-04-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-05-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-06-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-07-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-08-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-09-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-10-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-11-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2009-12-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-01-01', 'value': '0.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-02-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2010-12-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-01-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-02-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2011-12-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-01-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-02-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2012-12-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-01-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-02-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2013-12-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-01-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-02-01', 'value': '0.75000'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2014-12-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-01-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-02-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-03-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-04-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-05-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-06-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-07-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-08-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-09-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-10-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-11-01', 'value': '0.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2015-12-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-01-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-02-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-03-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-04-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-05-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-06-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-07-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-08-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-09-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-10-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-11-01', 'value': '1'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2016-12-01', 'value': '1.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-01-01', 'value': '1.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-02-01', 'value': '1.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-03-01', 'value': '1.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-04-01', 'value': '1.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-05-01', 'value': '1.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-06-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-07-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-08-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-09-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-10-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-11-01', 'value': '1.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2017-12-01', 'value': '2.0'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-01-01', 'value': '2.0'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-02-01', 'value': '2.0'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-03-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-04-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-05-01', 'value': '2.25'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-06-01', 'value': '2.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-07-01', 'value': '2.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-08-01', 'value': '2.5'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-09-01', 'value': '2.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-10-01', 'value': '2.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-11-01', 'value': '2.75'}, {'realtime_start': '2025-04-12', 'realtime_end': '2025-04-12', 'date': '2018-12-01', 'value': '3.0'}, {'realtime_start': '202

## Sourcing Sentiment Data and Apply BERT

#### Sourcing Live Sentiments

In [13]:
import requests
import pandas as pd
from transformers import pipeline
from datetime import datetime, timedelta

# Set up NewsAPI
API_KEY = "250e051931514de6b0e5120412c4e3ad"
NEWS_API_URL = "https://newsapi.org/v2/everything"

# Fetch news using query
def fetch_news(query, language="en", page_size=100):
    params = {
        "q": query,
        "language": language,
        "apiKey": API_KEY,
        "pageSize": page_size,
        "sortBy": "publishedAt",
    }
    response = requests.get(NEWS_API_URL, params=params)
    data = response.json()
    
    if data.get("status") == "ok":
        articles = data.get("articles", [])
        return [(article["publishedAt"], article["title"]) for article in articles]
    else:
        print("Error fetching news:", data)
        return []

# Load FinBERT pipeline
sentiment_pipeline = pipeline("text-classification", model="ProsusAI/finbert")

def analyze_sentiment(texts):
    sentiments = sentiment_pipeline(texts, truncation=True)
    return [sent["label"] for sent in sentiments]

# Combined sentiment fetcher for crude oil-related queries
def get_oil_sentiment():
    queries = [
    "crude oil",
    "Brent crude",
    "WTI",
    "oil price",
    "oil futures",
    "oil market",
    "oil production",
    "OPEC",
    "oil demand"
]
    all_articles = []

    for query in queries:
        articles = fetch_news(query)
        all_articles.extend(articles)

    if not all_articles:
        return pd.DataFrame()

    df = pd.DataFrame(all_articles, columns=["Date", "Headline"])
    df["Sentiment"] = analyze_sentiment(df["Headline"].tolist())
    df.to_csv("gold_sentiment_data.csv", index=False)
    return df

WARNING:tensorflow:From C:\Users\Lenovo\myvenv\myenv\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Lenovo\myvenv\myenv\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Error during conversion: ChunkedEncodingError(ProtocolError('Response ended prematurely'))

#### Apply Sentiment analysis on Live data and save them in disk

In [14]:
# Save the new data
import os
Live_Sentiments_file = os.path.join(Live_Sentiments_file_dir, commodity.upper(), Live_Sentiments_file_name)
if os.path.exists(Live_Sentiments_file):
    # sentiment_df = get_oil_sentiment()
    # sentiment_df.to_csv(Live_Sentiments_file, index=False)
    sentiment_df =  pd.read_csv(Live_Sentiments_file)  # File does not exist
else:
    # Fetch sentiment data
    sentiment_df = get_oil_sentiment()
    sentiment_df.to_csv(Live_Sentiments_file, index=False)
print(sentiment_df.head())
sentiment_df['Sentiment_score'] = sentiment_df['Sentiment'].apply(lambda x: 1 if x == 'positive' else -1 if x == 'negative' else 0)
print(sentiment_df.head())

# Add sentiment data back to the news_df
sentiment_df[['Date', 'Headline', 'Sentiment', 'Sentiment_score']]
live_sentiments_df = sentiment_df[['Date', 'Headline', 'Sentiment', 'Sentiment_score']]
# # Print out the resulting dataframe
# print(news_df[['Date', 'Title', 'Sentiment']].head())

# Convert Date column to datetime and add a range of days around each event
live_sentiments_df['Date'] = pd.to_datetime(live_sentiments_df['Date'])



live_sentiments_df['Date'] = pd.to_datetime(live_sentiments_df['Date'], errors='coerce')
live_sentiments_df['Date'] = live_sentiments_df['Date'].dt.tz_localize(None).dt.date 
live_sentiments_df.head()

                   Date                                           Headline  \
0  2025-04-30T10:00:45Z            Turkey’s Pivotal Moment With Azerbaijan
1  2025-04-30T10:00:00Z  Trump’s Policies Are Creating Uncertainty for ...
2  2025-04-30T09:53:27Z  Stocks to Buy | Resilience & Rebalancing: Indi...
3  2025-04-30T09:51:38Z         TotalEnergies Profits Drop As Prices Slide
4  2025-04-30T09:38:18Z  HPCL, ADNOC Trading ink their first LNG tradin...

  Sentiment
0   neutral
1  negative
2   neutral
3  negative
4   neutral
                   Date                                           Headline  \
0  2025-04-30T10:00:45Z            Turkey’s Pivotal Moment With Azerbaijan
1  2025-04-30T10:00:00Z  Trump’s Policies Are Creating Uncertainty for ...
2  2025-04-30T09:53:27Z  Stocks to Buy | Resilience & Rebalancing: Indi...
3  2025-04-30T09:51:38Z         TotalEnergies Profits Drop As Prices Slide
4  2025-04-30T09:38:18Z  HPCL, ADNOC Trading ink their first LNG tradin...

  Sentiment  Sentiment_score
0   neutral                0
1  negative               -1
2   neutral                0
3  negative               -1
4   neutral                0

,Date,Headline,Sentiment,Sentiment_score
0,2025-04-30,Turkey’s Pivotal Moment With Azerbaijan,neutral,0
1,2025-04-30,Trump’s Policies Are Creating Uncertainty for ...,negative,-1
2,2025-04-30,Stocks to Buy | Resilience & Rebalancing: Indi...,neutral,0
3,2025-04-30,TotalEnergies Profits Drop As Prices Slide,negative,-1
4,2025-04-30,"HPCL, ADNOC Trading ink their first LNG tradin...",neutral,0

#### Load Historical Sentiment data

In [15]:
# Historical_Sentiments_file = os.path.join(Historical_Sentiments_file_dir, commodity.upper(), Historical_Sentiments_file_name)
# #Detect Invalid Dates
# def is_invalid_date(date_str):
#     try:
#         pd.to_datetime(date_str, format="%d-%m-%Y", errors="raise")
#         return False  # Valid date
#     except:
#         return True   # Invalid date



# if os.path.exists(Historical_Sentiments_file) and commodity.upper()=="GOLD":
#         historical_news_df =  pd.read_csv(Historical_Sentiments_file)  # File does not exist
#         print(historical_news_df)
# elif commodity.upper()=="GOLD" :
#     # Fetch sentiment data
#     historical_sentiment_data = pd.read_csv("C:/Users/Lenovo/OneDrive/Desktop/War/code/data/gold_historical_sentiments.csv", usecols=["Dates","Price Sentiment", "News"])
#     historical_sentiment_data = historical_sentiment_data[~historical_sentiment_data["Dates"].astype(str).apply(is_invalid_date)]
    
    
#     # Add sentiment data back to the news_df
#     # # Print out the resulting dataframe
#     # print(news_df[['Date', 'Title', 'Sentiment']].head())
#     historical_news_df = historical_sentiment_data[['Dates', 'News', 'Price Sentiment', 'Sentiment_score']]
#     historical_news_df.rename(columns = {'News':'Headline', 'Dates':'Date', 'Price Sentiment':'Sentiment'}, inplace = True)
    
#     # Convert Date column to datetime and add a range of days around each event
#     historical_news_df['Date'] = pd.to_datetime(historical_news_df['Date'])
#     historical_news_df['Date'] = pd.to_datetime(historical_news_df['Date'], errors='coerce')
#     historical_news_df['Date'] = historical_news_df['Date'].dt.tz_localize(None).dt.date 

#     historical_news_df = historical_news_df[['Date','Headline']]
#     historical_news_df["Sentiment_score"] = analyze_sentiment(historical_news_df["Headline"].tolist(), batch_size=16)
#     historical_news_df['Sentiment_score'] = historical_news_df['Sentiment_score'].apply(lambda x: 1 if x == 'positive' else -1 if x == 'negative' else 0)
#     historical_news_df.to_csv(Historical_Sentiments_file, index=False)
# else:
#     historical_news_df=live_sentiments_df
import pandas as pd
import requests
from transformers import pipeline

# Step 1: Define the events
events = {
    '2003-03-20': 'Iraq War begins, leading to regional instability and oil price increase',
    '2011-01-25': 'Arab Spring uprisings cause oil production disruptions',
    '2022-02-24': 'Russian invasion of Ukraine impacts oil prices due to sanctions and supply disruptions',
    '2008-09-15': 'Aftermath of 2008 Financial Crisis on Oil Prices',
    '2024-01-10': 'U.S. Announces New Sanctions on Russia',
    '2024-02-15': 'Ukraine Military Counteroffensive',
    '2024-03-05': 'Israel-Hamas Conflict Escalation',
    '2024-04-12': 'Iran Nuclear Talks Stalled'
}

# Step 2: Create a DataFrame for the events
event_df = pd.DataFrame(list(events.items()), columns=['Date', 'Title'])

# Step 3: Load the sentiment analysis pipeline
sentiment_pipeline = pipeline('sentiment-analysis')

# Step 4: Perform sentiment analysis on the event titles
event_sentiments = sentiment_pipeline(event_df['Title'].tolist())

# Step 5: Convert sentiment analysis results to DataFrame
sentiment_df = pd.DataFrame(event_sentiments)

# Step 6: Map sentiment labels to numerical values
event_df['Sentiment'] = sentiment_df['label'].apply(lambda x: 1 if x == 'POSITIVE' else -1 if x == 'NEGATIVE' else 0)
# Step 8: Convert 'Date' to datetime for merging

event_df['Date'] = pd.to_datetime(event_df['Date'], errors='coerce')
event_df['Date'] = event_df['Date'].dt.tz_localize(None).dt.date 
#gold_data['Date'] = pd.to_datetime(gold_data['Date']).dt.tz_localize(None).dt.date 
event_df.head()
historical_news_df = event_df
historical_news_df.rename(columns={'Sentiment':'Sentiment_score'},inplace=True)

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

## Step 2 : Data Preprocessing and Cleaning

### 2.1 Null Value Treatment

In [16]:
for data in [commodity_data]:
    data.dropna(subset=['Date', 'Close'], inplace=True)

### 2.2 Converting Values to Datetime format

In [17]:
# COnvert into date format
# Historical Data
# Convert Date column in gold_data to remove timezone
commodity_data['Date'] = commodity_data['Date'].dt.tz_localize(None).dt.date 

# Market Economic Data
daily_gdp_data['Date'] = daily_gdp_data['Date'].dt.tz_localize(None).dt.date 
interest_rate_df['Date'] = interest_rate_df['Date'].dt.tz_localize(None).dt.date 
Inflation_data['Date'] = Inflation_data['Date'].dt.tz_localize(None).dt.date 
daily_debt_data['Date'] = daily_debt_data['Date'].dt.tz_localize(None).dt.date

### 2.3 Merging all source data to final data frame

In [18]:
# Merge all dataframes on 'Date' with 'gold_data' as the base (left join)
merged_data = commodity_data.merge(daily_gdp_data, on='Date', how='left') \
                       .merge(interest_rate_df, on='Date', how='left') \
                       .merge(Inflation_data, on='Date', how='left') \
                       .merge(daily_debt_data, on='Date', how='left') \
                        .merge(etf_data[['ETF_Value']], on='Date', how='left')

merged_data.drop(columns=['year','month'],inplace=True)

In [19]:
merged_data.info()
# Print summary of missing values after imputation
print(merged_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2593 entries, 0 to 2592
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2593 non-null   object
 1   Open            2593 non-null   float64
 2   High            2593 non-null   float64
 3   Low             2593 non-null   float64
 4   Close           2593 non-null   float64
 5   Volume          2593 non-null   int64
 6   GDP             181 non-null    object
 7   Interest_rates  81 non-null     float64
 8   Inflation_rate  81 non-null     float64
 9   DebtToGDP       2012 non-null   float64
 10  ETF_Value       51 non-null     float64
dtypes: float64(8), int64(1), object(2)
memory usage: 223.0+ KB
Date                 0
Open                 0
High                 0
Low                  0
Close                0
Volume               0
GDP               2412
Interest_rates    2512
Inflation_rate    2512
DebtToGDP          581
ETF_Value         2542
dtype: int64

### 2.4 Processing NULL values from merged data

In [20]:

# Convert numeric columns from object type to float (if needed)
numeric_cols = ["Open", "High", "Low", "Close", "Volume"]
merged_data[numeric_cols] = merged_data[numeric_cols].apply(pd.to_numeric, errors="coerce")

# Handle Financial Market Data (Time-series features)
merged_data[numeric_cols] = merged_data[numeric_cols].fillna(method="ffill")  # Forward Fill (Recommended)

#  Handle Volume (Typically Skewed, Use Median)
merged_data["Volume"].fillna(merged_data["Volume"].median(), inplace=True)

# 🔹 Handle Economic Indicators (Use Mean or Interpolation)
econ_cols = ["GDP", "DebtToGDP", "Interest_rates", "Inflation_rate", "ETF_Value"]
for col in econ_cols:
    merged_data[col].fillna(merged_data[col].mean(), inplace=True)  # Mean Imputation
    merged_data[col].fillna(0, inplace=True)  # Mean Imputation


# Print summary of missing values after imputation
print(merged_data.isnull().sum())

commodity_data=merged_data

Date              0
Open              0
High              0
Low               0
Close             0
Volume            0
GDP               0
Interest_rates    0
Inflation_rate    0
DebtToGDP         0
ETF_Value         0
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3625551758.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_data[numeric_cols] = merged_data[numeric_cols].fillna(method="ffill")  # Forward Fill (Recommended)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3625551758.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data["Volume"].fillna(merged_data["Volume"].median(), inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3625551758.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data[col].fillna(merged_data[col].mean(), inplace=True)  # Mean Imputation
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3625551758.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_data[col].fillna(merged_data[col].mean(), inplace=True)  # Mean Imputation
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3625551758.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data[col].fillna(0, inplace=True)  # Mean Imputation

### Outlier Treatment

In [21]:

# Function to identify and remove outliers using IQR
def identify_outliers(df):
    # Ensure 'Close' is numeric
    df['Close'] = pd.to_numeric(df['Close'], errors='coerce')  # Convert to float, set errors to NaN
    df = df.dropna(subset=['Close'])  # Drop rows where 'Close' is NaN after conversion

    Q1 = df['Close'].quantile(0.25)
    Q3 = df['Close'].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    ndf = df[(df['Close'] <= lower_bound) | (df['Close'] >= upper_bound)]
    return ndf

# Apply outlier detection to the Gold dataset
commodity_data['Close'] = pd.to_numeric(commodity_data['Close'], errors='coerce')  # Ensure 'Close' is numeric
outlier = identify_outliers(commodity_data)
outlier

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value
1330,2020-04-20,17.730000,17.850000,-40.320000,-37.630001,247947,2.195852e+13,1.815679,1.815679,124.733177,1.377451
1331,2020-04-21,-14.000000,13.860000,-16.740000,10.010000,2288230,2.195852e+13,1.815679,1.815679,124.733177,1.377451
1803,2022-03-04,107.959999,116.019997,107.250000,115.680000,493875,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1804,2022-03-07,121.330002,130.500000,115.540001,119.400002,576022,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1805,2022-03-08,120.669998,129.440002,117.070000,123.699997,583106,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1814,2022-03-21,105.129997,112.690002,104.080002,112.120003,77217,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1815,2022-03-22,112.900002,115.010002,109.300003,111.760002,318629,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1816,2022-03-23,108.849998,115.400002,108.379997,114.930000,289182,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1817,2022-03-24,114.470001,116.639999,110.610001,112.339996,307238,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1818,2022-03-25,111.750000,114.120003,108.680000,113.900002,320304,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1853,2022-05-16,110.980003,114.900002,108.110001,114.199997,289127,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1854,2022-05-17,113.870003,115.559998,111.750000,112.400002,252630,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1856,2022-05-19,109.089996,112.620003,105.129997,112.209999,68511,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1857,2022-05-20,111.449997,114.040001,110.849998,113.230003,229930,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1861,2022-05-26,110.690002,114.830002,110.269997,114.089996,234752,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1862,2022-05-27,114.199997,115.300003,112.849998,115.070000,217281,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1863,2022-05-31,114.959999,119.980003,114.150002,114.669998,440796,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1864,2022-06-01,115.400002,117.870003,114.580002,115.260002,290530,2.195852e+13,1.210000,1.210000,110.385332,1.377451
1865,2022-06-02,114.800003,117.769997,111.199997,116.870003,327600,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1866,2022-06-03,117.550003,120.459999,115.230003,118.870003,240831,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1867,2022-06-06,120.820000,120.989998,117.629997,118.500000,246825,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1868,2022-06-07,119.099998,120.360001,117.139999,119.410004,341694,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1869,2022-06-08,119.790001,123.180000,119.300003,122.110001,340591,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1870,2022-06-09,122.430000,122.720001,120.790001,121.510002,293295,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1871,2022-06-10,121.459999,122.750000,118.330002,120.669998,352906,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1872,2022-06-13,120.190002,122.250000,117.470001,120.930000,372403,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1873,2022-06-14,121.089996,123.680000,116.620003,118.930000,366320,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1874,2022-06-15,119.070000,119.610001,114.599998,115.309998,301750,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1875,2022-06-16,115.980003,118.080002,112.309998,117.589996,162543,2.195852e+13,1.815679,1.815679,110.385332,1.377451
1882,2022-06-28,110.180000,112.220001,109.620003,111.760002,306748,2.195852e+13,1.815679,1.815679,110.385332,1.377451

In [22]:
commodity_data

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value
0,2015-01-02,53.759998,55.110001,52.029999,52.689999,268708,1.829502e+13,1.815679,1.815679,95.956145,1.377451
1,2015-01-05,52.610001,52.730000,49.680000,50.040001,375782,1.829502e+13,1.815679,1.815679,95.956145,1.377451
2,2015-01-06,50.000000,50.369999,47.549999,47.930000,451642,1.829502e+13,1.815679,1.815679,95.956145,1.377451
3,2015-01-07,48.000000,49.310001,46.830002,48.650002,460083,1.829502e+13,1.815679,1.815679,95.956145,1.377451
4,2015-01-08,48.779999,49.650002,47.730000,48.790001,362081,1.829502e+13,1.815679,1.815679,95.956145,1.377451
...,...,...,...,...,...,...,...,...,...,...,...
2588,2025-04-21,64.300003,64.419998,62.450001,63.080002,82671,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2589,2025-04-22,63.430000,65.089996,63.430000,64.309998,297928,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2590,2025-04-23,64.000000,64.870003,61.529999,62.270000,397841,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2591,2025-04-24,62.340000,63.310001,61.990002,62.790001,264908,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2592,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451

###  Data Merging - Sentiments with Commodity Data

#### Merging Live and Histrical Sentiment data

In [23]:
live_sentiments_df = live_sentiments_df[['Date','Sentiment_score']]
historical_news_df = historical_news_df[['Date','Sentiment_score']]

In [24]:
# Convert 'Date' column to datetime format in both DataFrames
live_sentiments_df['Date'] = pd.to_datetime(live_sentiments_df['Date'])
historical_news_df['Date'] = pd.to_datetime(historical_news_df['Date'])

# Merge the DataFrames and sort by 'Date'
sentiment_df = pd.concat([live_sentiments_df, historical_news_df], ignore_index=True).sort_values(by='Date')

# Display the first few rows
print(sentiment_df.head())

          Date  Sentiment_score
883 2003-03-20               -1
886 2008-09-15               -1
884 2011-01-25               -1
885 2022-02-24               -1
887 2024-01-10               -1

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\3662196593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  historical_news_df['Date'] = pd.to_datetime(historical_news_df['Date'])

In [25]:
commodity_data['Date'] = pd.to_datetime(commodity_data['Date'])

In [26]:
commodity_data.tail()

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value
2588,2025-04-21,64.300003,64.419998,62.450001,63.080002,82671,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2589,2025-04-22,63.430000,65.089996,63.430000,64.309998,297928,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2590,2025-04-23,64.000000,64.870003,61.529999,62.270000,397841,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2591,2025-04-24,62.340000,63.310001,61.990002,62.790001,264908,2.195852e+13,1.815679,1.815679,105.457564,1.377451
2592,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451

### 2.8 Merging Sentiment Data with Gold Data

In [27]:
commodity_data = pd.merge(commodity_data, sentiment_df[['Date', 'Sentiment_score']], on='Date', how='left')
commodity_data.head()

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value,Sentiment_score
0,2015-01-02,53.759998,55.110001,52.029999,52.689999,268708,1.829502e+13,1.815679,1.815679,95.956145,1.377451,NaN
1,2015-01-05,52.610001,52.730000,49.680000,50.040001,375782,1.829502e+13,1.815679,1.815679,95.956145,1.377451,NaN
2,2015-01-06,50.000000,50.369999,47.549999,47.930000,451642,1.829502e+13,1.815679,1.815679,95.956145,1.377451,NaN
3,2015-01-07,48.000000,49.310001,46.830002,48.650002,460083,1.829502e+13,1.815679,1.815679,95.956145,1.377451,NaN
4,2015-01-08,48.779999,49.650002,47.730000,48.790001,362081,1.829502e+13,1.815679,1.815679,95.956145,1.377451,NaN

In [28]:
commodity_data['Sentiment_score'].value_counts()

Sentiment_score
-1.0    55
 0.0    41
 1.0    25
Name: count, dtype: int64

### 2.9 Null Treatment post sentiment merge

In [29]:
#Interpolation – Estimate Sentiment Values Based on Nearby Data
#Good for gradual sentiment changes but may not capture sudden shifts.
commodity_data['Sentiment_score'] = sentiment_df['Sentiment_score'].interpolate(method='linear')  

commodity_data['Sentiment_score'].fillna(0, inplace=True)
# Print summary of missing values after imputation
print(commodity_data.isnull().sum())

Date               0
Open               0
High               0
Low                0
Close              0
Volume             0
GDP                0
Interest_rates     0
Inflation_rate     0
DebtToGDP          0
ETF_Value          0
Sentiment_score    0
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28728\1915627315.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  commodity_data['Sentiment_score'].fillna(0, inplace=True)

In [30]:
commodity_data['Sentiment_score'].value_counts()

Sentiment_score
 0.0    2194
-1.0     286
 1.0     224
Name: count, dtype: int64

In [31]:
commodity_data

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value,Sentiment_score
0,2015-01-02,53.759998,55.110001,52.029999,52.689999,268708,1.829502e+13,1.815679,1.815679,95.956145,1.377451,0.0
1,2015-01-05,52.610001,52.730000,49.680000,50.040001,375782,1.829502e+13,1.815679,1.815679,95.956145,1.377451,-1.0
2,2015-01-06,50.000000,50.369999,47.549999,47.930000,451642,1.829502e+13,1.815679,1.815679,95.956145,1.377451,0.0
3,2015-01-07,48.000000,49.310001,46.830002,48.650002,460083,1.829502e+13,1.815679,1.815679,95.956145,1.377451,-1.0
4,2015-01-08,48.779999,49.650002,47.730000,48.790001,362081,1.829502e+13,1.815679,1.815679,95.956145,1.377451,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2699,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,0.0
2700,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,0.0
2701,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,0.0
2702,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,0.0
2703,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,0.0

## Step 3 : Feature Engineering

### 4.1 Create Features

In [32]:
import numpy as np

def feature_engineering(df, world_bank_data=None):
    # Lagged values and moving averages
    df['lag_1'] = df['Close'].shift(1)
    df['lag_7'] = df['Close'].shift(7)
    df['lag_30'] = df['Close'].shift(30)
    df['MA_7'] = df['Close'].rolling(window=7).mean()
    df['MA_30'] = df['Close'].rolling(window=30).mean()
    df['MA_90'] = df['Close'].rolling(window=90).mean()
    df['tomorrow_price'] = df['Close'].shift(-1)
    # Compute log returns fro GARCH
    df['Log_Returns'] = np.log(df['Close'] / df['Close'].shift(1))

    # Adding volatility features
    df['volatility_7'] = df['Close'].rolling(window=7).std()
    df['volatility_30'] = df['Close'].rolling(window=30).std()

    # #Gold prices may respond more to cumulative sentiment trends rather than individual daily sentiments. We apply a moving average to smooth fluctuations.
    # # Creating lagged sentiment features
    # df["Sentiment_Lag_1"] = df["Sentiment_score"].shift(1)
    # df["Sentiment_Lag_3"] = df["Sentiment_score"].shift(3)
    # df["Sentiment_Lag_7"] = df["Sentiment_score"].shift(7)
    # Compute rolling mean sentiment over 14-day and 30-day windows
    df["Sentiment_Rolling_14"] = df["Sentiment_score"].rolling(window=14, min_periods=1).mean()
    df["Sentiment_Rolling_30"] = df["Sentiment_score"].rolling(window=30, min_periods=1).mean()

    return df

### 4.2 Apply Feature engineering on data

In [33]:
commodity_data = feature_engineering(commodity_data)

C:\Users\Lenovo\myvenv\myenv\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [34]:
feature_engineering(commodity_data)

C:\Users\Lenovo\myvenv\myenv\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Date,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,...,lag_30,MA_7,MA_30,MA_90,tomorrow_price,Log_Returns,volatility_7,volatility_30,Sentiment_Rolling_14,Sentiment_Rolling_30
0,2015-01-02,53.759998,55.110001,52.029999,52.689999,268708,1.829502e+13,1.815679,1.815679,95.956145,...,NaN,NaN,NaN,NaN,50.040001,NaN,NaN,NaN,0.000000,0.000000
1,2015-01-05,52.610001,52.730000,49.680000,50.040001,375782,1.829502e+13,1.815679,1.815679,95.956145,...,NaN,NaN,NaN,NaN,47.930000,-0.051603,NaN,NaN,-0.500000,-0.500000
2,2015-01-06,50.000000,50.369999,47.549999,47.930000,451642,1.829502e+13,1.815679,1.815679,95.956145,...,NaN,NaN,NaN,NaN,48.650002,-0.043081,NaN,NaN,-0.333333,-0.333333
3,2015-01-07,48.000000,49.310001,46.830002,48.650002,460083,1.829502e+13,1.815679,1.815679,95.956145,...,NaN,NaN,NaN,NaN,48.790001,0.014910,NaN,NaN,-0.500000,-0.500000
4,2015-01-08,48.779999,49.650002,47.730000,48.790001,362081,1.829502e+13,1.815679,1.815679,95.956145,...,NaN,NaN,NaN,NaN,48.360001,0.002874,NaN,NaN,-0.400000,-0.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,...,63.02,63.02,63.02,62.892445,63.020000,0.000000,0.0,0.0,0.000000,0.000000
2700,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,...,63.02,63.02,63.02,62.878112,63.020000,0.000000,0.0,0.0,0.000000,0.000000
2701,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,...,63.02,63.02,63.02,62.863778,63.020000,0.000000,0.0,0.0,0.000000,0.000000
2702,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,...,63.02,63.02,63.02,62.872112,63.020000,0.000000,0.0,0.0,0.000000,0.000000
2703,2025-04-25,62.860001,63.410000,61.799999,63.020000,283758,2.195852e+13,1.815679,1.815679,105.457564,...,63.02,63.02,63.02,62.880445,NaN,0.000000,0.0,0.0,0.000000,0.000000

In [35]:
import seaborn as sns
import matplotlib.pyplot as plt

# Compute correlation of all features with 'Close'
correlation_with_close = commodity_data.corr()["Close"].sort_values(ascending=False)

# Convert to DataFrame
correlation_df = correlation_with_close.to_frame().rename(columns={"Close": "Correlation"})

correlation_df

                      Correlation
Close                    1.000000
Low                      0.998174
High                     0.996196
Open                     0.994270
lag_1                    0.992844
tomorrow_price           0.992844
MA_7                     0.991606
lag_7                    0.971665
MA_30                    0.965869
MA_90                    0.899961
lag_30                   0.894548
Date                     0.616589
GDP                      0.179367
volatility_7             0.133393
volatility_30            0.130410
Sentiment_Rolling_30     0.117906
DebtToGDP                0.098018
Inflation_rate           0.092438
Interest_rates           0.092438
Sentiment_Rolling_14     0.079231
ETF_Value                0.046228
Sentiment_score          0.024648
Log_Returns              0.016442
Volume                  -0.338564

### 4.3 Seting Index of data frame is as a Date column

In [36]:
commodity_data_df = commodity_data
commodity_data_df.set_index('Date', drop=True, inplace=True)

In [37]:
commodity_data_df.tail()

,Open,High,Low,Close,Volume,GDP,Interest_rates,Inflation_rate,DebtToGDP,ETF_Value,...,lag_30,MA_7,MA_30,MA_90,tomorrow_price,Log_Returns,volatility_7,volatility_30,Sentiment_Rolling_14,Sentiment_Rolling_30
Date,,,,,,,,,,,,,,,,,,,,,
2025-04-25,62.860001,63.41,61.799999,63.02,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,...,63.02,63.02,63.02,62.892445,63.02,0.0,0.0,0.0,0.0,0.0
2025-04-25,62.860001,63.41,61.799999,63.02,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,...,63.02,63.02,63.02,62.878112,63.02,0.0,0.0,0.0,0.0,0.0
2025-04-25,62.860001,63.41,61.799999,63.02,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,...,63.02,63.02,63.02,62.863778,63.02,0.0,0.0,0.0,0.0,0.0
2025-04-25,62.860001,63.41,61.799999,63.02,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,...,63.02,63.02,63.02,62.872112,63.02,0.0,0.0,0.0,0.0,0.0
2025-04-25,62.860001,63.41,61.799999,63.02,283758,2.195852e+13,1.815679,1.815679,105.457564,1.377451,...,63.02,63.02,63.02,62.880445,NaN,0.0,0.0,0.0,0.0,0.0

### Step 5 Data Split and Scaling

In [56]:
import pandas as pd

# Convert index to datetime if not already
commodity_data_df.index = pd.to_datetime(commodity_data_df.index)

# Define 80-20% split based on row count
split_index = int(len(commodity_data_df) * 0.80) 
# split_date =  pd.to_datetime('2022-01-01')
split_date = commodity_data_df.index[split_index]  

# Train-test split
train_df = commodity_data_df.loc[:split_date]  
test_df = commodity_data_df.loc[split_date:]

print(f"Train size: {train_df.shape}, Test size: {test_df.shape}")

Train size: (2164, 23), Test size: (541, 23)

In [57]:
# Separate features and target

# Select features and target
X_train = train_df.drop(columns=['tomorrow_price', 'Close' ])
y_train = train_df['Close']
X_test = test_df.drop(columns=['tomorrow_price', 'Close'])
y_test = test_df['Close']

In [58]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Define scalers
scaler_minmax = MinMaxScaler()  # For XGBoost, Random Forest
scaler_standard = StandardScaler()  # For LSTM

# Apply MinMax Scaling (for tree-based models)
X_train_scaled_minmax = scaler_minmax.fit_transform(X_train)
X_test_scaled_minmax = scaler_minmax.transform(X_test)

# Apply Standard Scaling (for LSTM)
X_train_scaled_standard = scaler_standard.fit_transform(X_train)
X_test_scaled_standard = scaler_standard.transform(X_test)


# # Rescale y_train
# scaler_y = MinMaxScaler()
y_train_scaled = scaler_minmax.fit_transform(y_train.values.reshape(-1, 1)).ravel()
y_test_scaled = scaler_minmax.transform(y_test.values.reshape(-1, 1)).ravel()



### 8.1 Load pre trained model from File

In [61]:
import joblib
import pickle
import os
import pandas as pd
import numpy as np

# Define the model directory
model_dir = hybrid_models_dir.get(commodity.upper())

# Define the model directory
meta_dir = hybrid_meta_models_dir.get(commodity.upper())
hybridmodel_name = 'meta_model_'+commodity+'.pkl'
hybrid_meta_model_name = os.path.join(meta_dir, hybridmodel_name)
# Load the meta-model (used in stacked hybrid)
with open(hybrid_meta_model_name, 'rb') as f:
    meta_model = pickle.load(f)

# Function to load models
def load_saved_models(directory):
    model_files = [f for f in os.listdir(directory) if f.endswith('.pkl')]
    models = {}
    for file in model_files:
        model_path = os.path.join(directory, file)
        model_name = file.replace(".pkl", "")
        model = joblib.load(model_path)
        models[model_name] = model
    return models

# Load all saved models
loaded_models = load_saved_models(model_dir)


def predict_from_model(model_name, model):
    if "XGBOOST" in model_name.upper():
        model = model.fit(X_train_scaled_minmax, y_train_scaled)
        xgb_predictions = model.predict(X_test_scaled_minmax)
        xgb_prediction = scaler_minmax.inverse_transform(xgb_predictions.reshape(-1, 1)).ravel()
        y_test_org = scaler_minmax.inverse_transform(y_train_scaled.reshape(-1, 1)).ravel()
        return scaler_minmax.inverse_transform(xgb_predictions.reshape(-1, 1)).ravel()

    elif "RF" in model_name.upper():
        #  Remove Sentiment & Macroeconomic Features from Training Data
        exclude_columns = ['GDP', 'Interest_rates','Inflation_rate', 'DebtToGDP', 'ETF_Value', 'Sentiment_score', 'Sentiment_Rolling_14',
        'Sentiment_Rolling_30', 'Sentiment_smoothed']
        X_train_filtered = pd.DataFrame(X_train_scaled_minmax, columns=X_train.columns).drop(columns=exclude_columns, errors='ignore').fillna(0.0)
        X_test_filtered = pd.DataFrame(X_test_scaled_minmax, columns=X_test.columns).drop(columns=exclude_columns, errors='ignore').fillna(0.0)

        random_search = model.fit(X_train_filtered, y_train_scaled)
        y_pred_rf = random_search.predict(X_test_filtered)
        return  scaler_minmax.inverse_transform(y_pred_rf.reshape(-1, 1)).ravel()

    elif "LSTM" in model_name.upper():
        #  Select Sentiment + Microeconomic Features
        selected_features = [
            'Open', 'High', 'Low', 'Volume', 'lag_1', 'lag_7', 'lag_30',
            'MA_7', 'MA_30', 'MA_90', 'Log_Returns', 'volatility_7', 'volatility_30',
            'Sentiment_score', 'Sentiment_Rolling_14', 'Sentiment_Rolling_30'
        ]
        
        # Extract Features for Training & Testing
        X_train_selected = pd.DataFrame(X_train_scaled_standard, columns=X_train.columns)[selected_features].values
        X_test_selected = pd.DataFrame(X_test_scaled_standard, columns=X_test.columns)[selected_features].values
        
        #  Reshape Data for LSTM (3D: Samples, Time Steps, Features)
        look_back = 14  # Using the same look-back period
        
        def create_sequences(X, y, look_back):
            Xs, ys = [], []
            for i in range(len(X) - look_back):
                Xs.append(X[i:i + look_back])
                ys.append(y[i + look_back])
            return np.array(Xs), np.array(ys)
        
        X_train_seq, y_train_seq = create_sequences(X_train_selected, y_train_scaled, look_back)
        X_test_seq, y_test_seq = create_sequences(X_test_selected, y_test_scaled, look_back)
        #  Train Model
        model = model.fit(
            X_train_seq, y_train_seq,
            epochs=50, batch_size=32, 
            validation_data=(X_test_seq, y_test_seq),
            verbose=1
        )
        
        #  Predict on Test Set
        y_pred_lstm_scaled = model.predict(X_test_seq)
        
        #  Inverse Transform Predictions to Original Scale
        y_pred_lstm_original = scaler_minmax.inverse_transform(y_pred_lstm_scaled)
        return y_pred_lstm_original

    elif "ARIMA" in model_name.upper(): 
        # Select microeconomic factors from the scaled data
        exog_train = X_train_scaled_minmax[:, [X_train.columns.get_loc(col) for col in ['Interest_rates', 'Inflation_rate', 'GDP', 'DebtToGDP', 'ETF_Value','Sentiment_score']]]
        exog_test = X_test_scaled_minmax[:, [X_test.columns.get_loc(col) for col in ['Interest_rates', 'Inflation_rate', 'GDP', 'DebtToGDP', 'ETF_Value','Sentiment_score']]]
        model2 = model.get_forecast(steps=len(y_test), exog=exog_test)
        fc_model2 = model2.predicted_mean
        return fc_model2.values
        
    elif "GARCH" in model_name.upper():
        y_train_log_returns = np.log(y_train / y_train.shift(1)).dropna()
        y_test_log_returns = np.log(y_test / y_test.shift(1)).dropna()
        garch_forecast = model.forecast(horizon=len(y_test_log_returns))
        garch_forecast_series = garch_forecast.mean.iloc[-len(y_test_log_returns):].values.flatten()
        # Convert forecasted log returns back to price predictions
        y_test_prices = y_test.iloc[-len(garch_forecast_series):].values
        garch_predicted_prices = y_test_prices[0] * np.exp(np.cumsum(garch_forecast_series))
        return garch_predicted_prices
        
    elif "VAR" in model_name.upper():
        # Ensure data is stationary (apply differencing)
        train_var = train_df[['Close', 'Volume', 'MA_7', 'MA_30', 'MA_90', 'Log_Returns', 
                              'volatility_7', 'volatility_30', 'Sentiment_Rolling_14', 'Sentiment_Rolling_30']].diff().dropna()
        test_var = test_df[['Close', 'Volume', 'MA_7', 'MA_30', 'MA_90', 'Log_Returns', 
                            'volatility_7', 'volatility_30', 'Sentiment_Rolling_14', 'Sentiment_Rolling_30']].diff().dropna()
        
        # train_var = train_df[['Close', 'Volume', 'MA_7', 'MA_30']].diff().dropna()
        # test_var = test_df[['Close', 'Volume', 'MA_7', 'MA_30']].diff().dropna()
        train_exog = train_df[['GDP', 'Interest_rates', 'Inflation_rate', 'DebtToGDP', 'ETF_Value']].iloc[1:]
        test_exog = test_df[['GDP', 'Interest_rates', 'Inflation_rate', 'DebtToGDP', 'ETF_Value',]].iloc[1:]
        
        # train_exog = train_df[['GDP', 'Interest_rates', 'Inflation_rate', 'ETF_Value']].iloc[1:]  # Align with differencing
        # test_exog = test_df[['GDP', 'Interest_rates', 'Inflation_rate', 'ETF_Value']].iloc[1:]    # Align with differencing
        
        # Select optimal lag using BIC
        var_model = VAR(endog=train_var, exog=train_exog)
        lag_selection = var_model.select_order(maxlags=15)
        optimal_lag = lag_selection.bic
        print(f"Optimal lag order (BIC): {optimal_lag}")
        
        # Fit VAR model
        var_fitted = var_model.fit(optimal_lag)
        
        # Forecast
        forecast_steps = len(test_var)
        last_observations = train_var.values[-optimal_lag:]
        
        # Forecast with exogenous variables
        var_forecast = var_fitted.forecast(last_observations, steps=forecast_steps, exog_future=test_exog)
        
        # Convert forecasted differenced values back to original scale
        forecast_df_m4 = pd.DataFrame(var_forecast, columns=train_var.columns, index=test_var.index)
        forecast_df_m4 = train_df[['Close', 'Volume', 'MA_7', 'MA_30', 'MA_90', 'Log_Returns', 'volatility_7', 'volatility_30', 'Sentiment_Rolling_14', 'Sentiment_Rolling_30']].iloc[-1] + forecast_df_m4.cumsum()
        
        # Extract predicted Close prices
        predicted_prices = forecast_df_m4['Close']
        return predicted_prices
    else:
        print(f"Unknown model type for {model_name}. Skipping.")
        return None

predict_d= {}
for model_name, model in loaded_models.items():
    print(f"\nPredicting using model: {model_name}")
    prediction = predict_from_model(model_name, model)
    predict_d[model_name]=prediction
    if prediction is not None:
        print("Predicted values:", prediction)

Predicting using model: RF_best-2
Fitting 5 folds for each of 50 candidates, totalling 250 fits

C:\Users\Lenovo\myvenv\myenv\Lib\site-packages\sklearn\ensemble\_forest.py:413: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

Predicted values: [83.45233267 82.98618685 82.51070919 81.3807724  79.81846808 80.61652878
 80.91268035 81.44815822 81.07887779 78.40811046 78.67438619 79.71507661
 80.63538649 80.88292531 81.79464213 83.26167015 85.1747142  87.08077107
 87.46360192 86.85756298 87.27945777 88.19653261 88.59313742 88.52335985
 89.80267064 89.98168933 91.28935539 92.26914536 89.88330411 89.87822907
 90.14013458 89.93991001 89.84022266 92.91992778 92.76340473 91.71511757
 89.55978439 89.40490838 85.96733801 82.94546692 82.55963819 86.68405534
 85.62739782 85.08173613 82.92106915 86.72361005 86.97510802 86.61132108
 88.81546517 89.40383081 89.37913341 86.33806182 85.03954988 84.00293108
 83.58166614 85.30581401 82.43323699 81.78940834 81.33658244 81.55876987
 81.3728188  81.49432722 78.06308902 76.08677493 76.39755909 77.11524922
 78.24533052 78.74654799 76.99007402 73.36354435 74.7313728  77.53823168
 76.97712145 74.80530292 75.83733732 75.02524416 76.51238855 77.2801406
 76.62871907 74.88448908 73.28993851 72.66262798 70.24926014 69.77699824
 71.09526991 71.14730972 68.64914226 69.3462572  71.63905241 71.52953795
 72.79991697 73.27742717 74.87213358 73.43933968 74.16449277 75.16727133
 74.48923582 72.18450487 71.85143584 71.06896647 72.23607021 71.9216931
 74.0819447  71.13307931 72.14565033 71.81967189 72.96658804 73.89712687
 72.03937815 71.75277755 74.14771249 73.96075497 74.78916974 74.05824148
 75.23075754 77.00741302 77.29862952 77.69239846 77.18050954 76.08172946
 74.4498421  72.17507212 72.65541833 73.62937849 74.37926954 75.39414776
 76.66387146 75.74081988 78.20377471 77.56618018 78.02942064 78.85355115
 78.50336034 76.48301658 78.45884967 76.86102869 77.15655731 78.5393872
 78.61382864 78.69094314 79.96394353 79.22331411 78.57867813 79.83476267
 78.77267418 78.7179999  78.16260421 78.4106408  79.32511771 80.77858914
 81.16269144 82.51589207 83.61719341 82.05327655 81.13507657 81.21145682
 81.93337303 81.79661715 81.42961308 82.94301906 84.25578152 85.10607288
 85.36450274 86.54949807 86.90133741 86.08575755 86.12614571 85.34538641
 85.37610922 86.48122307 85.06970433 85.19086587 83.59542307 82.21475444
 82.9774589  82.35410911 82.2292628  82.84002281 83.31082379 84.69770866
 82.86553984 81.94846151 79.58212834 79.53881791 78.77544076 78.86134721
 78.63862394 78.52325658 79.7583393  78.9468078  78.82140714 78.56872461
 78.25960971 79.51236362 80.1094347  79.88608147 78.85718255 77.9153684
 77.88779979 77.24681912 79.74815438 79.66508862 78.30548263 77.85717855
 75.05294005 73.37331461 73.93129815 75.74967764 75.75329282 77.5688372
 78.2356091  78.91104492 78.5489067  78.64768602 80.09773096 80.873178
 82.12332364 81.03342854 81.37570754 81.341428   81.18848213 81.42575786
 81.62784711 83.22780682 84.45219703 83.69094517 84.59273053 82.5337062
 81.83814383 81.92676199 82.57945575 82.80637074 81.86739213 81.12836637
 81.91905093 82.60570093 81.0534729  79.98091335 76.99219204 77.45300408
 78.04330605 77.41278847 76.108051   75.69156153 78.25510309 76.86079585
 73.89876726 72.2233031  73.63472788 74.721555   76.15612541 76.45222599
 79.6950218  78.89525837 77.70388447 78.37589664 76.34641388 75.58594635
 74.18363215 71.89460306 73.17129049 74.51094729 77.05544504 76.05669767
 74.44694497 75.95572628 74.22360022 70.90484676 69.90176108 70.0064629
 68.26830266 68.7080367  66.77825745 67.43389295 69.36487789 69.12548781
 70.26890272 70.86519628 70.52463209 71.93892872 71.86298613 70.42448672
 71.93082641 70.27320068 67.97970049 68.32282021 68.57470611 69.00445669
 71.35923468 72.8457914  74.76150447 75.78462167 73.48397209 72.19404218
 75.23353192 75.47357271 72.23205535 70.34679649 70.62527678 70.65714311
 69.80576737 70.50322731 71.8369971  70.67090803 70.85124286 71.41648725
 67.79895664 67.44142647 68.72400033 69.57173908 70.47785532 71.45526678
 72.16619611 71.00124059 71.9897348  70.69323694 68.44153478 68.56933921
 68.20136894 68.70610169 67.63627503 68.81922114 69.05471097 69.27037035
 69.88392474 70.679545   69.68592945 68.84264329 68.70336229 68.5967998
 68.61739754 69.75163029 69.01727128 68.50932837 67.63903684 68.41141019
 68.64251685 70.07963648 70.09965056 70.99940534 70.67964017 70.3265751
 70.87403977 70.38249736 68.80560584 69.07860702 70.20380065 70.31203579
 70.53499054 71.08852261 71.79481781 73.13133511 73.89326562 74.13944039
 74.35879243 73.92540179 73.97878326 76.26312066 78.75261812 78.26722814
 80.03246899 79.10537845 78.62294205 76.59594758 75.61601131 75.35882564
 74.69225232 73.39359378 73.88096891 73.24164517 72.91935181 72.72942082
 73.58961652 71.45201119 71.70053348 70.93212427 71.15157649 72.28238297
 73.68295718 71.86992536 70.91883566 70.99373324 71.55341591 72.47286535
 72.65916694 71.14011227 70.74431203 69.70848565 68.63928738 70.13414074
 69.86139777 68.59476018 67.78702777 66.6988922  66.62975989 67.6799394
 66.71375834 66.57025414 67.49368769 67.08738323 67.13906651 68.06288261
 67.52236295 67.05208976 68.17140521 68.36847804 68.82959069 69.07900595
 69.7597141  69.71141657 69.36097193 70.71177023 71.36006703 71.83278896
 67.20663627 64.36370493 60.61583274 59.63315568 59.83334047 60.40257567
 61.4276975  61.41228753 61.68737501 62.01468345 63.79017954 63.39124777
 63.47914607 63.47517166 63.45591486 63.43673018 63.44397974 63.44333268
 63.44304198 63.44304198 64.53829631 64.28003998 64.28170475 64.28170475
 64.28747562 64.28747562 64.28747562 64.29558653 64.32195263 64.31287002
 64.31287002 64.29380426 64.27191888 64.23739969 64.29380426 62.17773679
 62.54278388 62.54278388 62.52817994 62.54593979 62.56290535 62.54013404
 62.53290274 62.53290274 62.53290274 62.53290274 62.53290274 62.88596161
 62.82273818 62.82273818 62.81913668 62.81913668 62.82841939 62.82841939
 62.83241443 62.83241443 62.83787571 62.83787571 62.83787571 62.83787571
 62.83837075 62.83837075 62.83837075 62.83837075 62.83837075 62.84729591
 62.84729591 62.84729591 62.84729591 62.51997157 62.45764563 62.45764563
 62.45764563 62.45764563 62.45764563 62.45764563 62.45764563 62.45672705
 62.45672705 62.45672705 62.45672705 62.45672705 62.45672705 62.45672705
 62.45672705 62.45672705 62.45672705 62.45672705 62.45672705 62.45672705
 62.45672705 62.45672705 62.45672705 62.45450284 62.45450284 62.45450284
 62.45450284 62.45450284 62.45450284 62.45159501 62.45159501 62.45159501
 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501
 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501
 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501
 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501 62.45159501
 62.45159501]

Predicting using model: XGBoost_best-1
Predicted values: [82.73147  82.83469  82.29062  81.19886  79.73546  80.84416  81.119545
 81.48549  80.77073  78.264824 78.718346 79.634705 80.40352  80.736206
 81.993645 83.071106 85.500336 86.72525  87.29659  86.10029  87.17938
 88.1067   89.071175 88.35558  89.92588  89.79663  91.45842  92.31491
 89.70549  89.6487   89.698814 89.52809  89.36361  93.170006 92.480774
 91.70897  89.26516  89.613396 85.33874  82.692986 82.645546 86.68767
 85.5119   84.19732  83.13424  86.73328  87.0188   86.23442  89.3077
 89.43795  89.218216 85.77826  84.27715  84.73413  82.99384  85.94403
 82.00688  81.82374  81.61983  82.90404  81.19336  82.06929  77.68166
 75.61998  76.28006  77.195786 77.91139  78.416695 77.38212  72.65444
 74.56699  77.49501  77.23614  75.20997  75.36032  74.828094 76.618904
 77.45784  76.927315 74.66933  73.275276 72.78486  70.11167  69.83709
 71.597664 71.3442   69.00637  69.77978  72.09076  71.43888  72.50453
 73.136925 75.045296 73.45962  74.37708  75.32588  74.33297  71.83848
 72.004166 71.230576 72.55672  72.11003  74.304405 71.04115  72.02874
 71.977165 72.79659  73.90332  72.39975  71.65808  74.07646  74.12782
 74.7983   74.30751  75.60725  77.62718  77.203445 77.73211  77.3477
 75.905624 74.537094 72.32863  72.70781  73.94129  74.62476  75.94588
 76.95944  76.24113  78.24877  77.780785 78.058975 79.00878  78.35152
 76.93147  78.811874 76.93042  77.25911  78.88139  78.38041  78.4323
 80.31432  79.31442  78.348465 79.62414  78.40065  78.29176  77.5216
 78.05793  79.56671  81.22825  80.88654  82.792534 82.76574  81.568886
 81.09185  81.098915 82.41124  81.952515 81.58446  83.18972  84.29699
 85.17116  85.376976 86.11454  86.350845 85.693665 85.42939  85.739716
 85.103096 85.910774 85.074715 84.971245 83.13961  82.93276  83.92903
 82.71189  82.64334  82.886955 83.05818  84.30109  82.59526  81.99254
 79.54981  78.84154  78.204384 78.86757  78.478546 78.489136 79.375946
 78.48281  78.9292   78.2904   78.31451  79.09113  80.022675 79.756165
 78.44066  77.69311  77.44451  77.32854  79.96614  79.7732   78.24298
 77.43288  74.60672  73.30153  74.16919  75.7941   75.809845 77.49038
 77.97581  79.179115 78.90044  78.57975  80.39754  81.2322   82.25167
 80.893906 81.628426 81.324936 81.40687  81.5584   81.77895  83.187195
 83.95399  83.32294  83.92311  82.32428  81.99846  82.10701  82.70772
 82.54813  81.9424   81.07795  82.29216  82.33482  80.60634  80.00605
 76.75591  77.60566  78.15717  77.029045 76.10948  75.50002  78.156044
 77.07333  73.69095  72.31706  73.45382  74.9228   76.39369  76.79957
 79.3097   78.64955  77.740265 78.36098  76.38869  74.89809  74.481445
 72.09316  73.02915  74.46801  77.26932  76.03702  74.677666 76.01724
 74.051575 70.90105  69.41498  69.84498  68.27289  69.18394  66.43496
 67.46065  69.734955 69.15675  70.32769  71.25361  70.56185  71.949135
 72.02925  70.352806 71.80912  70.149155 68.31375  68.58577  68.66355
 69.572395 71.04128  72.873375 74.83588  75.93852  73.52169  72.27793
 75.52163  75.519806 72.0212   69.765594 70.385414 70.638336 69.349525
 70.6069   72.13094  70.67967  70.79345  71.75745  67.30913  67.78843
 69.012215 69.48061  70.56182  72.007126 72.13354  70.87038  71.84905
 70.64112  68.38836  68.94447  68.39608  68.895325 67.60597  68.89872
 69.10611  69.21558  70.01679  70.89638  68.90637  68.95601  68.698364
 68.33193  68.82579  69.81662  69.09595  68.45549  67.49428  68.35497
 68.80103  70.032104 70.10906  71.0275   70.68143  70.24634  70.84565
 70.02683  69.11493  69.350105 70.51751  70.10128  70.53665  71.148415
 71.94352  73.021385 74.04012  74.11013  74.44298  73.835526 73.8537
 76.55404  78.864456 78.07984  80.14489  78.70888  78.21876  76.49622
 75.83442  75.08853  74.79157  73.12223  74.04016  73.23794  73.01038
 72.87663  73.40295  71.74914  71.4579   71.148415 71.25617  72.360306
 74.06409  72.13772  70.966286 71.099655 71.725876 72.43569  72.565926
 70.9888   70.84275  69.29344  68.58581  70.72841  69.89919  68.74012
 67.93105  66.250046 66.34673  67.66535  66.615974 66.35353  67.547066
 66.83615  67.61605  67.99319  67.75097  67.153435 68.23596  68.41974
 69.040405 69.02816  69.94604  70.22491  69.212074 71.138405 71.51444
 71.691124 66.98853  62.89939  61.093304 59.761166 60.395958 60.48252
 61.67267  61.494953 61.459423 62.31221  64.162186 63.014324 63.402916
 63.39281  63.37479  63.37225  63.355125 63.40659  63.378674 63.378674
 64.58712  64.19249  64.19738  64.25734  64.26188  64.35333  64.38058
 64.37696  64.37696  64.363335 64.36765  64.363846 64.3617   64.368256
 64.3704   62.72492  63.153793 63.16162  63.156822 63.15114  63.15114
 63.106857 63.072964 63.072964 63.072964 63.072964 63.072964 62.78528
 62.529976 62.529976 62.529976 62.571053 62.571053 62.571053 62.600113
 62.600113 62.600113 62.600113 62.600113 62.600113 62.600113 62.600113
 62.600113 62.600113 62.600113 62.600113 62.600113 62.600113 62.600113
 62.794186 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775 62.735775
 62.735775 62.735775]

### 8.2 Load Pretrained Hybrid Model

In [62]:
#stacking

from sklearn.linear_model import LinearRegression
best1_forecast_trimmed,best2_forecast_trimmed = list(predict_d.values())
# Create a new dataset with ARIMA and XGBoost predictions
X_combined = np.column_stack([best2_forecast_trimmed,best1_forecast_trimmed])
# Normalize input features (optional but recommended)
X_combined_scaled = scaler_minmax.fit_transform(X_combined)

# Final predictions from the hybrid model
hybrid_predictions_stacked = meta_model.predict(X_combined_scaled)

# Create a new dataset with ARIMA and XGBoost predictions
X_combined = np.column_stack(list(predict_d.values()))
# Normalize input features (optional but recommended)
X_combined_scaled = scaler_minmax.fit_transform(X_combined)

# Final predictions from the hybrid model
hybrid_predictions_stacked = meta_model.predict(X_combined_scaled)

### 8.3 Predict Price with Stacked Hybrid Model

In [63]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

n = 1 # Number of future predictions

# Step 1: Ensure Predictions Are in NumPy Format
future_best1_values = np.array(best1_forecast_trimmed[-n:]).reshape(-1, 1)
future_best2_values = np.array(best2_forecast_trimmed[-n:]).reshape(-1, 1)

# Step 2: Prepare Feature Matrix for Future Predictions
X_combined_future = np.column_stack([future_best1_values, future_best2_values])

# Step 3: Fit MinMaxScaler on Training Data (if not already fitted)
scaler_minmax.fit(X_combined)  # Ensure the scaler is trained on past data
X_combined_future_scaled = scaler_minmax.transform(X_combined_future)

# Step 4: Predict Future Prices Using Hybrid Model
hybrid_predictions_future = meta_model.predict(X_combined_future_scaled)

# Step 5: Convert to 1D array
hybrid_predictions_future = hybrid_predictions_future.flatten()

# Step 6: Store Predictions in DataFrame
future_dates = pd.date_range(start=y_test.index[-1], periods=n + 1, freq='D')[1:]
future_price = pd.DataFrame({
    'Hybrid Forecast': hybrid_predictions_future
}, index=future_dates)

# Step 7: Display Predicted Future Prices
print("Predicted future values from the hybrid model:")
print(future_price)

Predicted future values from the hybrid model:
            Hybrid Forecast
2025-04-26        68.591005

### 8.4 Let's verify Price with Weighted Hybrid Model

In [64]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt
min_length = min(len(best1_forecast_trimmed),len(best2_forecast_trimmed))
y_test_trimmed = y_test[:min_length].values.flatten()

# Calculate RMSE for both models
rmse_best1 = sqrt(mean_squared_error(y_test_trimmed, best1_forecast_trimmed))
rmse_best2 = sqrt(mean_squared_error(y_test_trimmed, best2_forecast_trimmed))

# Compute weights using inverse RMSE
weight_best1 = (1 / rmse_best1) / ((1 / rmse_best1) + (1 / rmse_best2))
weight_best2 = (1 / rmse_best2) / ((1 / rmse_best1) + (1 / rmse_best2))

# Weighted hybrid model predictions
hybrid_weighted_predictions = (weight_best1 * best1_forecast_trimmed) + (weight_best2 * best2_forecast_trimmed)

### 8.5 Predict Price with Weighted Hybrid Model

In [65]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression



# Step 1: Ensure Predictions Are in NumPy Format
future_best1_values = np.array(best1_forecast_trimmed[-n:]).reshape(-1, 1)
future_best2_values = np.array(best2_forecast_trimmed[-n:]).reshape(-1, 1)

# Step 2: Compute Hybrid Model Predictions

## 1. Simple Averaging Hybrid Model
hybrid_avg_future = (future_best1_values.flatten() + future_best2_values.flatten()) / 2

## 2. Weighted Hybrid Model (Based on RMSE Inverse Weights)
weight_best1 = (1 / rmse_best1) / ((1 / rmse_best1) + (1 / rmse_best2))
weight_best2 = (1 / rmse_best2) / ((1 / rmse_best1) + (1 / rmse_best2))
hybrid_weighted_future = (weight_best1 * future_best1_values.flatten()) + (weight_best2 * future_best2_values.flatten())

# Step 3: Store Predictions in DataFrame
future_dates = pd.date_range(start=y_test.index[-1], periods=n + 1, freq='D')[1:]
future_price = pd.DataFrame({
    'Hybrid_Weighted': hybrid_weighted_future,
}, index=future_dates)
print(future_price)

            Hybrid_Weighted
2025-04-26        62.604509

### 8.6 Future Price Prediction and recommendation to Buy or Sell

In [67]:
print("\n Evaluation Metrics (on last known actual prices) with historical data from 2003:")
metrics_df

 Evaluation Metrics (on last known actual prices) with historical data from 2003:

             Model  R2 Score      MAPE      RMSE       MAE
0  Weighted Hybrid       0.0  0.659301  0.415491  0.415491
1   Stacked Hybrid       0.0  8.840059  5.571005  5.571005
2   Average Hybrid       0.0  0.676476  0.426315  0.426315

In [68]:
import numpy as np
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

n = 5  # Number of future predictions
threshold = 5  # Decision threshold in USD

# Step 1: Ensure Predictions Are in NumPy Format
future_best1_values = np.array(best1_forecast_trimmed[-n:]).reshape(-1, 1)
future_best2_values = np.array(best2_forecast_trimmed[-n:]).reshape(-1, 1)

# Step 2: Prepare Feature Matrix for Future Predictions
X_combined_future = np.column_stack([future_best1_values, future_best2_values])

# Step 3: Scale and Predict
scaler_minmax.fit(X_combined)  # Use previously prepared training combined features
X_combined_future_scaled = scaler_minmax.transform(X_combined_future)

# Hybrid predictions
hybrid_predictions_weighted = (weight_best1 * future_best1_values.flatten()) + (weight_best2 * future_best2_values.flatten())
hybrid_predictions_stacked = meta_model.predict(X_combined_future_scaled).flatten()
hybrid_predictions_average = (future_best1_values.flatten() + future_best2_values.flatten()) / 2

# Step 4: Store Future Predictions
future_dates = pd.date_range(start=y_test.index[-1], periods=n + 1, freq='D')[1:]
future_price = pd.DataFrame({
    'Future Price Weighted': hybrid_predictions_weighted,
    'Future Price Stacked': hybrid_predictions_stacked,
    'Future Price Average': hybrid_predictions_average
}, index=future_dates)

# Step 5: Last Observed Price
last_actual_price = y_test.values[-1]

# Step 6: Recommendation Based on Weighted Hybrid
recommendation = []
for forecast in hybrid_predictions_weighted:
    price_diff = forecast - last_actual_price
    if price_diff > threshold:
        recommendation.append("BUY 📈")
    elif price_diff < -threshold:
        recommendation.append("SELL 📉")
    else:
        recommendation.append("HOLD ⚖️")

future_price['Recommendation'] = recommendation

# Display Predictions
print(f"Last Actual Observed Price: {last_actual_price:.2f}\n")
print("Predicted future values and investment recommendation:")
print(future_price)

# ======================================
# Evaluation Metrics on Known y_test[-n:]
# ======================================
actual_values = y_test[-n:].values.flatten()

def mape(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

def accuracy(y_true, y_pred):
    return 100 - mape(y_true, y_pred)

# Store results
metrics_summary = {
    "Model": ["Average Hybrid", "Weighted Hybrid", "Stacked Hybrid"],
    
    "MAPE": [
        mape(actual_values, hybrid_predictions_average),
        mape(actual_values, hybrid_predictions_weighted),
        mape(actual_values, hybrid_predictions_stacked)
    ],
    "RMSE": [
        np.sqrt(mean_squared_error(actual_values, hybrid_predictions_average)),
        np.sqrt(mean_squared_error(actual_values, hybrid_predictions_weighted)),
        np.sqrt(mean_squared_error(actual_values, hybrid_predictions_stacked))
    ],
    "MAE": [
        mean_absolute_error(actual_values, hybrid_predictions_average),
        mean_absolute_error(actual_values, hybrid_predictions_weighted),
        mean_absolute_error(actual_values, hybrid_predictions_stacked)
    ],
    "Accuracy (%)": [
        accuracy(actual_values, hybrid_predictions_average),
        accuracy(actual_values, hybrid_predictions_weighted),
        accuracy(actual_values, hybrid_predictions_stacked)
    ]
}

# Convert to DataFrame and show
metrics_df = pd.DataFrame(metrics_summary)
print("\nEvaluation Metrics (on last known actual prices):")
print(metrics_df.round(4))

Last Actual Observed Price: 63.02

Predicted future values and investment recommendation:
            Future Price Weighted  Future Price Stacked  Future Price Average  \
2025-04-26              62.604509             68.591005             62.593685
2025-04-27              62.604509             68.591005             62.593685
2025-04-28              62.604509             68.591005             62.593685
2025-04-29              62.604509             68.591005             62.593685
2025-04-30              62.604509             68.591005             62.593685

           Recommendation
2025-04-26        HOLD ⚖️
2025-04-27        HOLD ⚖️
2025-04-28        HOLD ⚖️
2025-04-29        HOLD ⚖️
2025-04-30        HOLD ⚖️

Evaluation Metrics (on last known actual prices):
             Model    MAPE    RMSE     MAE  Accuracy (%)
0   Average Hybrid  0.6765  0.4263  0.4263       99.3235
1  Weighted Hybrid  0.6593  0.4155  0.4155       99.3407
2   Stacked Hybrid  8.8401  5.5710  5.5710       91.1599

In [69]:
metrics_df.round(4)

             Model    MAPE    RMSE     MAE  Accuracy (%)
0   Average Hybrid  0.6765  0.4263  0.4263       99.3235
1  Weighted Hybrid  0.6593  0.4155  0.4155       99.3407
2   Stacked Hybrid  8.8401  5.5710  5.5710       91.1599